In [73]:
import requests
import pandas as pd
import numpy as np
import json
from pandas.io.json import json_normalize
import plotly.express as px

# Aquecimento para a formação em infraestrutura"

In [74]:
def qtd_dados(n):
    url = 'https://randomuser.me/api/?results=' + str(n)
    return url

In [75]:
urlparametrizada = qtd_dados(500)

In [76]:
urlparametrizada

'https://randomuser.me/api/?results=500'

In [77]:
request = requests.get(urlparametrizada)
a = json.loads(request.text)
res = json_normalize(a['results'])
df_randomuser = pd.DataFrame(res)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning:

pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead

In [78]:
df_randomuser

,gender,email,phone,cell,nat,name.title,name.first,name.last,location.street.number,location.street.name,...,login.sha256,dob.date,dob.age,registered.date,registered.age,id.name,id.value,picture.large,picture.medium,picture.thumbnail
0,male,blake.meyer@example.com,0119028 482 5442,07892 003299,GB,Mr,Blake,Meyer,3807,Grove Road,...,6362abe31f2e474b29e932373a6aa42d55895e80fcfb3b...,1982-05-09T09:09:51.042Z,40,2003-11-22T07:26:32.356Z,18,NINO,OL 92 36 16 I,https://randomuser.me/api/portraits/men/48.jpg,https://randomuser.me/api/portraits/med/men/48...,https://randomuser.me/api/portraits/thumb/men/...
1,female,shylaja.bhardwaj@example.com,8007202841,7783579798,IN,Mrs,Shylaja,Bhardwaj,1522,Somwar Peth,...,5a3bede7c64f16e813e0fc5f1485be020a4f7bb6d9ada2...,2000-10-22T14:20:55.100Z,21,2005-08-01T19:09:07.728Z,17,UIDAI,077856574759,https://randomuser.me/api/portraits/women/11.jpg,https://randomuser.me/api/portraits/med/women/...,https://randomuser.me/api/portraits/thumb/wome...
2,male,hans-gerd.bernard@example.com,0546-6417628,0178-1797383,DE,Mr,Hans-Gerd,Bernard,2849,Kiefernweg,...,0f375c5be59c44b4ab4f4aa891907ce50c0f105adfba24...,1981-07-24T21:50:15.527Z,41,2015-11-27T03:40:21.403Z,6,SVNR,74 240781 B 184,https://randomuser.me/api/portraits/men/58.jpg,https://randomuser.me/api/portraits/med/men/58...,https://randomuser.me/api/portraits/thumb/men/...
3,male,tolislav.nazarkevich@example.com,(067) T58-2408,(099) Q28-8427,UA,Mr,Tolislav,Nazarkevich,2651,Provulok Chapligina,...,428dea34e7b802c0d391bf4c3073ccdf85f94bbcd70a80...,1969-10-05T23:50:18.276Z,52,2013-02-12T01:14:23.312Z,9,,None,https://randomuser.me/api/portraits/men/70.jpg,https://randomuser.me/api/portraits/med/men/70...,https://randomuser.me/api/portraits/thumb/men/...
4,male,erling.hildrum@example.com,87350910,94897409,NO,Mr,Erling,Hildrum,4278,Tiurveien,...,df7fd1663202796712e7d8b0234937ff02a7e9d18d2c48...,1976-01-08T21:46:29.799Z,46,2005-03-11T22:21:50.226Z,17,FN,08017640128,https://randomuser.me/api/portraits/men/33.jpg,https://randomuser.me/api/portraits/med/men/33...,https://randomuser.me/api/portraits/thumb/men/...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,female,gloria.robert@example.com,079 829 06 98,075 259 51 51,CH,Mademoiselle,Gloria,Robert,4360,Rue Cyrus-Hugues,...,93a7d8f0e80715f60da9f7df075054335b948bb7fd547a...,1947-07-25T16:49:06.956Z,75,2006-12-28T11:55:39.380Z,15,AVS,756.5601.2319.85,https://randomuser.me/api/portraits/women/6.jpg,https://randomuser.me/api/portraits/med/women/...,https://randomuser.me/api/portraits/thumb/wome...
496,female,judith.picard@example.com,079 978 09 40,077 105 97 49,CH,Mademoiselle,Judith,Picard,8731,Rue Docteur-Bonhomme,...,09acf5499776cb1827662faaa850b869586c332ad00550...,1961-08-23T15:13:24.205Z,61,2020-07-19T11:04:47.282Z,2,AVS,756.6361.7187.81,https://randomuser.me/api/portraits/women/37.jpg,https://randomuser.me/api/portraits/med/women/...,https://randomuser.me/api/portraits/thumb/wome...
497,female,marianne.mackay@example.com,Y95 F94-9031,X64 P58-3386,CA,Miss,Marianne,Mackay,604,Stanley Way,...,ba8af6271e5ba6c254608b83161899804307fb95b2d173...,1978-02-24T14:40:31.067Z,44,2004-05-06T10:00:12.547Z,18,SIN,453359986,https://randomuser.me/api/portraits/women/67.jpg,https://randomuser.me/api/portraits/med/women/...,https://randomuser.me/api/portraits/thumb/wome...
498,male,dave.hunt@example.com,(356) 763-6837,(260) 765-3810,US,Mr,Dave,Hunt,8603,Wheeler Ridge Dr,...,aea87e283f66d37a10cab58cd86f5799165931a62f40e5...,1981-03-04T17:03:53.236Z,41,2013-02-02T13:45:00.650Z,9,SSN,317-01-2262,https://randomuser.me/api/portraits/men/53.jpg,https://randomuser.me/api/portraits/med/men/53...,https://randomuser.me/api/portraits/thumb/men/...
499,male,marcus.nielsen@example.com,50834214,12807486,DK,Mr,Marcus,Nielsen,9880,Fåborgvej,...,ba964bb280670ae88ef2e10e6b360f5f9bda4c7f63ebe2...,1981-09-19T07:54:49.519Z,41,2011-12-02T19:00:46.944Z,10,CPR,190981-2974,https://randomuser.me/api/portraits/men/32.jpg,https://randomuser.me/api/portraits/med/men/32...,https://randomuser.me/api/portraits/thumb/men/...

In [79]:
df_randomuser.to_csv('D:\SMF\Escritório_Dados\df_randomuser.csv', index=False)
# este arquivo não está sendo gerado

In [80]:
## Essa função tem os créditos do Eugênio conforme link abaixo
## https://github.com/eugeniosinan/aquecimento-formacao-infra/blob/master/exercicio_aquecimento.ipynb
def format_phone_field(df, colname):

    if colname in df.columns:
        
        def formatPhone(x):
            x = ''.join(c for c in x if c.isdigit())   # Removendo os caracters não numéricos
            x = x.zfill(8)   # Completando com zeros a esquerda caso tenha menos de 7 numeros
            x = x[-8:]   # pegando os 7 números da direita para a esquerda
            x = x[:4] + '-' + x[4:]
            return x   # retorno da função

        df[colname] = df[colname].apply(formatPhone) # Aplicando a função na coluna do dataframe
        
    else:
        print("Variavel nao existe!")

In [81]:
format_phone_field(df_randomuser, "phone")
format_phone_field(df_randomuser, "cell")

In [82]:
#type(df_randomuser_inicial.phone)
#phone = np.array(df_randomuser_inicial['phone'])
#nat = np.array(df_randomuser_inicial['nat'])
#y =[]
#z=[]
#def number(x):
#  for i in range(len(x)):
#    y.append(str(x[i]))
#    for match in phonenumbers.PhoneNumberMatcher(y[i], str(nat[i])):
#        print(match)
#    #z.append(phonenumbers.PhoneNumberMatcher(y[i],str(nat[i])))
#  return z,match

In [83]:
df_randomuser_gender = df_randomuser.gender.value_counts().rename_axis('gender').to_frame('total').reset_index()
df_randomuser_gender["percentage"] = round ( df_randomuser_gender.total / df_randomuser_gender.total.sum() * 100, 0 )
df_randomuser_gender

df_randomuser_country = df_randomuser["location.country"].value_counts().rename_axis('country').to_frame('total').reset_index()
df_randomuser_country["percentage"] = round (df_randomuser_country.total / df_randomuser_country.total.sum() * 100, 0 )
df_randomuser_country

           country  total  percentage
0           France     32         6.0
1           Mexico     31         6.0
2      New Zealand     31         6.0
3           Canada     30         6.0
4   United Kingdom     30         6.0
5          Denmark     26         5.0
6        Australia     25         5.0
7           Turkey     25         5.0
8          Ukraine     25         5.0
9           Norway     24         5.0
10         Germany     24         5.0
11          Serbia     23         5.0
12         Finland     22         4.0
13   United States     22         4.0
14     Switzerland     21         4.0
15           India     20         4.0
16            Iran     19         4.0
17         Ireland     19         4.0
18     Netherlands     18         4.0
19          Brazil     17         3.0
20           Spain     16         3.0

In [84]:
age_counts = df_randomuser["dob.age"].value_counts()

fig = px.bar(age_counts, title="Idades por frequênciadas")
fig.update_layout(
    xaxis_title = "Idade",
    yaxis_title = "Frequência",
    title_x = 0.5,
    showlegend = False
)

fig.show()

In [85]:
## Essa função tem os créditos do Eugênio conforme link abaixo
## https://github.com/eugeniosinan/aquecimento-formacao-infra/blob/master/exercicio_aquecimento.ipynb
## Função que recebe um DF e dois nomes de coluna como parametros e retorna um DF com o agrupamento de duas colunas caso essas existam no df passado como parametro
def group_country_state(df, col1, col2):
       
    lista_campos = [ col1, col2 ]
    lista_colunas = df.columns

    ## verificar se todos os campos da lista_campos estão contidos na lista_colunas
    check = all( item in lista_colunas for item in  lista_campos) ## Return true or false

    if check is True:
        df_group = df.groupby(by= [ col1, col2 ], dropna=False).count()[['gender']].rename( columns={'gender':'total'} )
        return df_group

table_group = group_country_state(df_randomuser,'location.country', 'location.state')
print(table_group )

                                               total
location.country location.state
Australia        Australian Capital Territory      7
                 New South Wales                   3
                 Northern Territory                1
                 Queensland                        5
                 Tasmania                          4
...                                              ...
United States    New York                          1
                 Texas                             1
                 Utah                              1
                 Virginia                          1
                 Washington                        1

[319 rows x 1 columns]